.venda{
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center; 

}

.venda-img img{
  border-radius: 10px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}
.venda-img img{
  z-index: 2;
  width: 420px;
  height: 580px;
  max-width: 400px;
}


.img2{
  position: absolute;
  top: 2%;
  left: 22%;
  z-index: 2;
}

.img3{
  position: absolute;
  top: 4%;
  left: 28%;
  z-index: 3;
}

.img2:hover{
  z-index: 3;
}

.img1:hover{
  z-index: 3;
}


.venda2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  z-index: 2;
} 

.venda2 p{
  max-width: 45ch;
  text-align: center;
  margin-bottom: 12px;
  font-size: 1.15rem;

}
.venda h2{
  margin-top: 92px;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2.5rem;
  /* color: var(--cor-11) ; */
  text-align: center;
  margin-bottom: 20px;
}

.venda2 li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.25rem;

}



.venda sup{
  font-size: 1rem;
}
.real1{
  margin-bottom: 32px;
font-size: 3rem;
}
.flex-span{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.flex-span h2{
  color: var(--cor-7);
}
.flex-span p{
  color: var(cor-8);
}
.venda-img {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 40px;
}
.venda2 a{

  border: 4px solid;
  color: var(--cor-11);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
  padding: 12px 62px;
  text-align: center;
  border-radius: 10px;
  transition: 2s;
  position: relative;
  background: linear-gradient(90deg, var(--cor-11) 0%, var(--cor-6) 100%);
  color: var(--cor-1);
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  
}

.venda2 a:hover:last-child{
  background: linear-gradient(90deg, var(--cor-7) 0%, var(--cor-5) 100%);
  color: var(--cor-1);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}



@media (max-width:1200px){
  .venda-img img{
    z-index: 2;
    width: 340px;
    height: 480px;
    max-width: 400px;
  }
  
  
  .img2{
    position: absolute;
    top: 2%;
    left: 24%;
    z-index: 2;
  }
  
  .img3{
    position: absolute;
    top: 4%;
    left: 28%;
    z-index: 3;
  }

.venda2 h2{
  font-size: 2rem;
}

.venda2 p{
  font-size: 1rem;
}
.venda2 a{
padding: 6px 20px;
}
}



@media (max-width:950px){

  .venda-img img{
    z-index: 2;
    width: 200px;
    height: 300px;
    max-width: 400px;
 
  }

  .venda-img {
    margin-top: 40px;
  }

.venda{
gap: 0px;
  grid-template-columns: 1fr;
}

.img2{
  top: 2%;
  left: 40%;
}

.img3{

  top: 4%;
  left: 42%;
}
.venda2 h2{
  font-size: 1.5rem;
  margin-top: 20px;
}
.real{
  font-size: 1.5rem;
}
.real p{
  font-size: 1rem;
}
.venda2 a{
  font-size: 2.2rem;
}

}



@media (max-width:700px){
  .img2{
    top: 2%;
    left: 38%;
  }
  
  .img3{
  
    top: 4%;
    left: 40%;
  }
}

@media (max-width:600px){
  .img2{
    top: 2%;
    left: 34%;
  }

  
  .img3{
  
    top: 4%;
    left: 36%;
  }
}

@media (max-width:500px){
  .img2{
    top: 2%;
    left: 28%;
  }
  
  .img3{
  
    top: 4%;
    left: 34%;
  }
}