body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  background: linear-gradient(45deg, #f2d9a6 0%,#b3801a 100%);
}


.menu-logo{
  font-size: 3rem;
  margin-bottom: 80px;
  margin-left: 12px;
}

.h2-calc{
  font-style: italic;
  margin-bottom: 80px;
  font-size: 3rem;
  color: var(--cor-0);
}

main{
  background-color: var(--cor-1);
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  height: 480px;
  max-width: 800px;
  max-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rs-flex{
  margin-top: 240px;
  align-self: end;
}
.rs-flex a{
  color:var(--cor-1);
}

.content{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.spnQtd{
  text-align: end;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--cor-12);
  margin-bottom: 40px;
}

.question{
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 80px;
  color: var(--cor-7) ;

}

.answers{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.answers button{
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 40px;
  border: none;
  background: var(--cor-12);
  color: var(--cor-2) ;
  cursor: pointer;
  border-radius: 10px;
  transition: .5s;
  margin-bottom: 40px;
}

.answers button:hover{
  background: var(--cor-2);
  color: var(--cor-7) ;
}

.finish a{
  font-size: 2rem;
  background: var(--cor-12);
  color: var(--cor-0) ;
  border-radius: 10px;
  padding:10px 26px ;
  transition: .5s;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
}
.finish a:hover{
  border: none;
  background: var(--cor-2);
  color: var(--cor-7) ;
}

.finish{
  display: none;
  flex-direction: column;
  gap: 10px;
}

.finish span{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: var(--cor-11);
  margin-bottom: 40px;
}

.spnQtd , .question , .answers{
  display: none;
}

.content1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.content1 h2{
  font-size: 2.5rem;
  color: var(--cor-7);
  margin-bottom: 40px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

}

.content1 input{
  padding: 10px 0px;
  text-align: center  ;
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
  border-color: #b3801a;
  border-radius: 10px;
  background: transparent;
  
}

.content1 button{
  margin-left: 20px;
  background: #b3801a;
  color: var(--cor-2);
  font-size: 1.25rem;
  padding: 14px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

}

.content1 button:hover{
  background: var(--cor-12);
  color: var(--cor-0);
}